<td class="col-sm-6">{{label}}</td>
<td class="col-sm-2 app-current-value">{{stat}}</td>
<td class="col-sm-2"><button class="btn btn-info app-decrease-stat" {{action "decreaseStat"}}>-</button></td>
<td class="col-sm-2"><button disabled={{unless hasPointsLeft 'disabled'}} class="btn btn-info app-increase-stat" {{action "increaseStat"}}>+</button></td>